
<div class="container">
  <h1>All our flats</h1>
  <div class="row">
    <% @flats.each do |flat| %>
    <div class="card col-3">
      <div class="card-top">
        <h4><%= flat.name %></h4>
        <br>
        <%= flat.address %>
        <br>
        <div class="card-infos">
          <p><i class="fa-solid fa-people-group"></i> <%= flat.number_of_guests %></p>
          <p><i class="fa-solid fa-euro-sign"></i> <%= flat.price_per_night %></p>
        </div>
      </div>
      <div class="card-bottom">
        <%= link_to "More info", flat_path(flat) %>
        <%= link_to "Edit", edit_flat_path(flat) %>
        <%= link_to "Remove", flat_path(flat.id), data: {turbo_method: :delete, turbo_confirm: "Delete this flat ?"} %>
      </div>
    </div>
    <% end %>
  </div>
</div>
